{% if User_details_list %}
 
    {% for user in User_details_list %}
 
    <ul>
 
    <li>
        <h2> User Name:{{ user.user_name }}</h2>
        <h2> Mobile:{{ user.mobile }}</h2>
        <h2>Location:{{ user.location }} </h2>
           <form action="{% url 'form_app:user-delete' user.id %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-default btn-sm">Delete</button>
        </form>
           <form action="{% url 'form_app:user-update' user.id  %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-default btn-sm">Update</button>
        </form>
 
 
    </li>
 
 
    </ul>
 
{% endfor %}
 
    {% else %}
    <h1>No User Details found on the database.</h1>
 
 
{% endif %}
     <form action="{% url 'form_app:user-entry'  %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-default btn-sm">Make a User entry here</button>
        </form>